<nav>
  <div class="logo-argprog">
    <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1657411642/APLogo-20-20.png"
      alt="logo ap" />
  </div>
  <div class="redes-login">
    <div class="redes">
      <a href="https://www.linkedin.com/in/joelmurua/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
      <a href="mailto:joel.l.murua@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://api.whatsapp.com/send?phone=5493425212930" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="https://github.com/jotamurua" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
      <i class="fa-regular fa-user"></i>
    </button>
    <button class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      LOL
    </button>
  </div>
</nav>
