<section class="proj-container">
  <div class="section-header">
    <h5> Proyectos</h5>
    <button type="button" class="" routerLink="/nuevoproy" *ngIf="isLogged"> <i
        class="fa-solid fa-plus"></i></button>
  </div>
  <article class="proj-article" *ngFor="let proyect of proyectos">
    <div class="icons-editdelete" *ngIf="isLogged">
      <button type="button" class="boton-edit"><i class="fa-solid fa-pen" routerLink="/editproy/{{proyect.id}}"></i></button>
      <button type="button" class="boton-delete" (click)="borrar(proyect.id)"><i class="fa-solid fa-trash-can"></i></button>
    </div>
    <div class="proj-data" >
      <h6>{{proyect.nombre}}</h6>
      <p>{{proyect.descripcion}}</p>
      <a *ngIf="proyect.linkdeploy" [href]="proyect.linkdeploy" target="_blank" rel="noopener noreferrer"><button type="button" class="proj-button btn btn-outline-secondary"><i class="fa-brands fa-github"></i></button></a>
      <a *ngIf="proyect.linkgithub" [href]="proyect.linkgithub" target="_blank" rel="noopener noreferrer"><button type="button" class="proj-button btn btn-outline-secondary"><i class="fa-solid fa-globe"></i></button></a>
    </div>
  </article>
</section>
