<section class="proj-container">
  <h5> Proyectos</h5>
  <article class="proj-article">
    <div class="proj-data">
      <h6>titulo del proyecto</h6>
      <p>periodo</p>
      <p>data</p>
      <a><button type="button" class="proj-button btn btn-outline-secondary">github</button></a>
      <a><button type="button" class="proj-button btn btn-outline-secondary">deploy</button></a>
    </div>
    <img
      src="https://png.pngtree.com/template/20191014/ourlarge/pngtree-real-estate-business-logo-template-building-property-development-and-construction-logo-image_317796.jpg"
      alt="logo" class="img-proj img-fluid img-responsive" />
  </article>
</section>
