<div class="profile-container">
  <div class="banner">
    <div>
      <img
        [src]="miPortfolio.backImage"
        class="img-banner img-fluid img-responsive" />
      <button type="button" class="edit-banner boton-edit"><i class="fa-solid fa-pen"></i></button>
    </div>
    <div class="fotoperfilcontainer">
      <img
        [src]="miPortfolio.image"
        class="fotoperfil img-fluid img-responsive" />
      <button type="button" class="boton-edit"><i class="fa-solid fa-pen"></i></button>
    </div>
  </div>
  <div class="info">
    <div class="name">
      <h3>
        {{miPortfolio.name}}
      </h3>
      <p>
        {{miPortfolio.location}}
      <p>
    </div>
    <div>
      <h6>
        {{miPortfolio.title}}
      </h6>
      <p>
        {{miPortfolio.about}}
      </p>
    </div>
    <div class="icons-editdelete">
      <a><button type="button" class="boton-edit"><i class="fa-solid fa-pen"></i></button></a>
    </div>

  </div>

</div>
