<div class="profile-container">
  <div class="banner">

    <img
      src="https://firebasestorage.googleapis.com/v0/b/portfolio-eda94.appspot.com/o/logo%20horizontal.png?alt=media&token=f476e3d7-5e6f-4a72-9874-e9563644def6"
      class=" img-fluid img-responsive" />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/portfolio-eda94.appspot.com/o/self.jpg?alt=media&token=7bbca63d-c9e3-4e6f-be48-f93174276feb"
      class="fotoperfil img-fluid img-responsive" />
  </div>
  <div class="info">
    <div class="name">
      <h1>
        Joel Murua
      </h1>
      <h3>
        Full Stack Developer Junior
      </h3>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis exercitationem nihil perferendis a ipsam architecto explicabo quisquam sit repellendus sequi even saepe qui 
      </p>
    </div>

  </div>

</div>
