.profile-container {
  margin: 15px;
  border: 1px grey solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.banner {
  grid-area: 1 / 1 / 3 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f24;
}
.info {
  grid-area: 3 / 2 / 5 / 6;
  margin-top: 50px;
  display: flex;
}
.info h1, h3, h5{
  font-size: medium;
}
.name{
 min-width: 250px;
 padding: 10px;
}
.profile {
  grid-area: 2 / 1 / 4 / 3;
  max-width: 0px;
  max-height: 0px;
  margin-left: 10px;

}
.fotoperfil {
  max-width: 200px;
  border-radius: 50%;
  margin: 45px 15px  ;
  position: absolute;
  align-self: flex-start;

}

@media screen and (max-width: 650px) {
.info {
  flex-direction: column;
}

}


@media screen and (max-width: 450px) {
  .fotoperfil {
    max-width: 150px;
  }

}
