<section class="exp-container">
  <h5> Educación</h5>
  <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged"> Agregar educ</button>
  <article class="exp-article" *ngFor="let Education of educacion">
    <div class="icons-editdelete" *ngIf="isLogged">
      <a><button routerLink="/editedu/{{Education.id}}" type="button" class="boton-edit"><i
            class="fa-solid fa-pen"></i></button></a>
      <a><button type="button" class="boton-delete" (click)="delete(Education.id)"><i
            class="fa-solid fa-trash-can"></i></button></a>
    </div>
    <div>
      <h6>{{Education.nombreE}}</h6>
      <!-- <p>{{Education.yearsfrom}} to {{Education.yearsto}}</p> -->
      <p>{{Education.descripcionE}}</p>
    </div>
    <!-- <img *ngIf="Education.enterpriseImg"
    [src]="Education.enterpriseImg"
      alt="logo" class="img-work img-fluid img-responsive" /> -->
  </article>
</section>
