<div class="container" *ngIf="skill">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-grop">
          <label for="nombre">Nombre de la empresa</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
        </div>
        <div class="form-grop">
          <label for="porcentaje">eDescripcion de la tarea</label>
          <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
        </div>
        <button class="btn btn-primary">
          Actualizar
        </button>
      </form>
    </div>
  </div>
</div>

