<section class="skill-container">
  <div class="section-header">

    <h5>Skills </h5>
    <button type="button" class="" routerLink="/nuevaskill" *ngIf="isLogged"> <i
        class="fa-solid fa-plus"></i> </button>
  </div>
  <article class="skill-article" *ngFor="let skill of skill">
    <div class="skill-description">
      <h6>{{skill.nombre}}</h6>
      <button type="button" routerLink="/editskill/{{skill.id}}" class="boton-edit" *ngIf="isLogged"><i class="fa-solid fa-pen" ></i></button>
      <button type="button"(click)="delete(skill.id)" class="boton-delete" *ngIf="isLogged"><i class="fa-solid fa-trash-can" ></i></button>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{skill.porcentaje}}%"
        aria-valuenow=10 aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </article>
</section>
