<section class="exp-container">
  <h5> Experiencia</h5>
  <article class="exp-article" *ngFor="let exp of expArticle">
    <div class="icons-editdelete">
      <a><button type="button" class="boton-edit"><i class="fa-solid fa-pen"></i></button></a>
      <a><button type="button" class="boton-delete"><i class="fa-solid fa-trash-can"></i></button></a>
    </div>
    <div>
      <h6>{{exp.title}}</h6>
      <p>{{exp.yearsfrom}} to {{exp.yearsto}}</p>
      <p>{{exp.description}}</p>
    </div>
    <img *ngIf="exp.enterpriseImg"
    [src]="exp.enterpriseImg"
      alt="logo" class="img-work img-fluid img-responsive" />
  </article>
</section>
